[2015-10-09 17:12] dosumis opened #1 "1. Create two new classes underneath the root: a) molecular role, b) biochemical activity"

[2015-10-09 17:12] dosumis opened #2 "2. Move two classes underneath biochemical activity: a) binding, b) catalytic activity"
Dependency #1

[2015-10-09 17:13] dosumis opened #3 "3. Create new class underneath biochemical activity: transport mechanism"
Move five classes underneath transport mechanism: a) GO:0015628 b) GO:0015291, c) GO:0015399, d) GO:0022865 [these are the TCDB mechanism classes, with the exception of “group translocator activity”, which we would ideally add as another class but this can wait]

[2015-10-09 17:15] dosumis commented on #3
Critique:

'transport mechanism' appears to be a parent class for transporter classes whose sole differentium is their mechanism, rather than as a superclass of various mechanisms as its name would suggest.  Transport mechanism might better be named ‘transporter activity by mechanism -  reminiscent of the upper level classes in the original CL: cell by histology, cell by function etc.  This patter

[2015-10-09 17:16] dosumis opened #4 "5. Move eight classes underneath molecular role"
a) antioxidant activity (rename activity to role),
b) protein binding involved in cell adhesion (rename to cell adhesion mediator role),
c) motor activity (rename to molecular motor role),
d) nutrient reservoir activity (rename to molecular nutrient reservoir role,
e) molecular transducer activity (rename activity to role),
f) structural molecule activity (rename to structural role),
g) transporte

[2015-11-13 12:54] dosumis opened #5 "TF activity term renaming - Paul T suggested scheme"
1. transcription factor activity, sequence-specific DNA binding -> transcription factor activity
   - Ditto subclasses
2. transcription factor activity, protein binding -> transcription regulator activity, protein binding
   - Ditto for all children apart from cofactors. e.g. transcription factor activity, RNA polymerase I binding -> transcription regulator activity, RNA polymerase I transcription

[2015-12-18 16:21] dosumis commented on #5
@thomaspd : Remaining question, what to do with 'nucleic acid binding ...'  & 'RNA binding...' TF terms:

![image](https://cloud.githubusercontent.com/assets/112839/11901407/5b3acab0-a5a3-11e5-91d8-33df75b8125a.png)

Are there any other RNA binding TF activities besides anti-termination factor?  Check ref: PMID:8332211
What direct annotations to this are there to this?

Could move anti-termination

[2015-12-18 16:56] dosumis commented on #5
Progress:

Generated a [Mapping table](https://github.com/geneontology/molecular_function_refactoring/blob/master/TF_activity_renaming_spec/mapping.tsv).  This needs to be reviewed.
- For descendant classes of 'transcription factor activity, sequence-specific DNA binding', I have only shortened the name if the second half after the comma is the string 'sequence-specific DNA binding'
- For descenda

[2015-12-18 17:33] dosumis commented on #5
Note: Keep current names as synonyms.

[2016-01-04 14:48] dosumis opened #6 "Define patterns for defining receptor activity as a compound function"
We need to settle on a pattern for defining receptor activities.  This may provide a good starting point for patterns for other compound functions.  This ticket discusses possible patterns.

Like all MFs, compound MFs have a single agent: a gene product or a complex consisting of multiple gene products.  This is both an opportunity and a challenge. Because the agents in question are a target for a

[2016-01-04 15:06] dosumis commented on #6
@cmungall @thomaspd - comments please.

[2016-01-04 18:41] cmungall commented on #6
On 4 Jan 2016, at 6:48, David Osumi-Sutherland wrote:

quick response for now: not sure I understand the intent of the self.
The self here is the calcium channel activity (and not the GGCA). Indeed
the clause is superfluous if part-of is declared (globally or locally)
reflexive.

(it's possible I need to go back and look at the OWL spec again...)

[2016-01-04 18:41] cmungall commented on #6
On 4 Jan 2016, at 6:48, David Osumi-Sutherland wrote:

Don't think you'll like this approach:

what if we defined these by a prototype model. This gets around any
co-reference issue. Of course it brings in other semantic issues, that
without a theory of prototypes, the strict instance-level representation
is much weaker inferentially.

For practical purposes, we could derive class axioms from the

[2016-02-18 09:43] dosumis opened #7 "Consider obsoleting molecular transducer activity"
It is currently very vaguely defined:

"The molecular function that accepts an input of one form and creates an output of a different form."

Doesn't this apply to anything with enzyme activity?  Guess it depends on what is meant by form.

Should either be obsoleted or more tightly defined.

@thomaspd

[2016-09-08 17:18] dosumis opened #8 "MF refactoring umbrella ticket"
Migrated from [discussion in google docs](https://docs.google.com/document/d/1a3EROYP-fs7U6duTH0lOYUkU65QE6jI6EGadkcmklSU/edit)
## General comments from Eds:
-   We support the broad aims of the refactoring:
  -   Improving how we capture the biological context of molecular function.
    -   Are there cases where we can use the 'involved in' pattern (MF part of BP) along with a name that matches t

[2016-09-08 17:19] dosumis opened #9 "5. Move eight classes underneath molecular role"
- 5. Move eight classes underneath molecular role

Genreal comment: We'd rather keep the activity names for existing terms.  (also see comments on 'role' in #8)

*_a) antioxidant activity (rename activity to role), b) protein binding involved in cell adhesion (rename to cell adhesion mediator role), *_

**c) motor activity (rename to molecular motor role), d) nutrient reservoir activity (rename to

[2016-09-08 17:23] dosumis opened #10 "6. Create new class underneath molecular role: DNA structure modifier role."
Add DNA structure modifier role under molecular role defined as subclass_of catalytic activity AND (has_input DNA OR has_output DNA)**
1.  Is this the MF equivalent of DNA metabolic process?
2.  Proposed OWL definition doesn't work: Not all catalytic activities with DNA as a participant (input or output) modify its structure.
3.  What type of process counts as modification of structure. Must it be

[2016-09-08 17:23] dosumis commented on #10
Umbrella ticket #8

[2016-09-08 17:25] #4 closed, assigned to nobody

[2016-09-08 17:25] dosumis opened #11 "7. Create new class under molecular role: intercellular signal role."
**7. Create** **new class under molecular role: intercellular signal role. Move six classes underneath: chemoattractant activity, chemorepellent activity, morphogen activity, cytokine activity, hormone activity, growth factor activity (change activity to role for all).**

-   Harold - would like activities to plot substrate activity graph. If you increase substrate, activity goes up. In the contex

[2016-09-08 17:26] dosumis opened #12 "**8. Create new class under molecular role: molecular carrier role."
**8. Create new class under molecular role: molecular carrier role. Move seven classes underneath: ACP phosphopantetheine attachment site binding involved in fatty acid biosynthetic process (rename acyl carrier role), D-alanyl carrier activity, electron carrier activity, metallochaperone activity, oxidative phosphorylation uncoupler activity, oxygen transporter activity, transmembrane electron tra

[2016-09-08 17:27] dosumis opened #13 "**9. Create new class under molecular role: protein biosynthesis or maturation factor role"
**9. Create new class under molecular role: protein biosynthesis or maturation factor role, defined as subclass_of protein binding OR (subclass_of catalytic activity AND has_input/output protein) AND involved_in (translation OR protein maturation process). Check the automatically defined subclasses, compare to webprotege refactoring and see if another definition would be better to capture the clas

[2016-09-08 17:28] dosumis opened #14 "*10. Create new class under molecular role: RNA structure modifier role"
_10. Create new class under molecular role: RNA structure modifier role, defined as subclass_of catalytic activity AND (has_input RNA OR has_output RNA)_*

See comments under 'DNA structure modifier' #10

[2016-09-08 17:31] dosumis opened #15 "**11. Create new class under molecular role: small molecule metabolism role"
**11. Create new class under molecular role: small molecule metabolism role, defined as subclass_of catalytic activity AND NOT (has_input DNA/RNA/protein/polysaccharide/LPS OR has_output DNA/RNA/protein/polysaccharide/LPS)**
1.  Pattern may not be sufficient, not all catalytic activity with X as input or output is metabolic activity.
2.  How do we define small molecule? We don't need to list macro

[2016-09-08 17:32] dosumis opened #16 "**12. Create new class under molecular role: polysaccharide or LPS metabolism role"
**12. Create new class under molecular role: polysaccharide or LPS metabolism role, defined as subclass_of catalytic activity AND has_input polysaccharide/LPS OR has_output polysaccharide/LPS)**

[2016-09-08 17:32] dosumis opened #17 "**13. Create new class under molecular role: specific molecular activity regulator role**"
**13. Create new class under molecular role: specific molecular activity regulator role**

[2016-09-08 17:33] dosumis opened #18 "**14. Create subclass under specific molecular activity regulator role"
**14. Create subclass under specific molecular activity regulator role: transcription regulator role, defined as has_part DNA binding AND involved_in regulation of transcription. Transcription factor and cofactor should be children of this.**
-   This pattern is already used in the ontology to automate classification of all 'DNA binding transcription factors', but not ‘transcription factor binding

[2016-09-08 17:34] dosumis opened #19 "**15. Create subclass under specific molecular activity regulator role:"
**15. Create subclass under specific molecular activity regulator role: molecular function regulator role, defined as (protein/RNA binding OR (catalytic activity AND has_input protein/RNA)) involved in regulation of molecular function. Note that channel regulator, enzyme regulator, GEF, should be children.**

[2016-09-08 17:35] dosumis opened #20 "**16. Create subclass under specific molecular activity regulator role: RNA degradation regulator role"
**16. Create subclass under specific molecular activity regulator role: RNA degradation regulator role (defined as RNA binding involved in RNA degradation)**

[2016-09-08 17:35] dosumis opened #21 "**17. Create subclass under specific molecular activity regulator role: protein degradation regulator role"
**17. Create subclass under specific molecular activity regulator role: protein degradation regulator role (the only cases I can think of are: Ubiquitin-protein ligase activity involved in protein degradation and protein kinase activity involved in protein degradation, so perhaps these should be subclasses)**

Some general notes

Paul: Importance of small molecule vs 'functional macromolecule' is

[2016-09-08 18:57] dosumis commented on #5
Notes on mapping table what's changed and what's not:

Only the upper level terms in the DNA binding branch are specified for change:

'transcription factor activity, sequence-specific DNA binding'
'bacterial-type RNA polymerase transcription factor activity, sequence-specific DNA binding'
'bacterial-type RNA polymerase transcriptional activator activity, sequence-specific DNA binding'
'bacterial-

[2016-10-03 20:52] dosumis commented on #6
Reading my pattern suggestion above, I'm happy to ditch as too complicated (& you're probably right about self restriction).

I'm convinced now that we should at least explore the prototype approach - building prototypes in LEGO - with the aim that they can be used as templates.  I can't see how else we're going to keep LEGO annotation sufficiently consistent with the ontology and with itself.

We

[2016-10-03 21:57] cmungall commented on #6
I think this makes sense

We already have a ticket open coordinating graphically edited lego template/prototype models with ODPs: https://github.com/geneontology/noctua/issues/254

[2016-10-04 10:12] dosumis commented on #6
I suspect there are two cases here:  For most BPs, the template pattern will follow the ontology pattern  For compound MFs (as above) the two patterns will be distinct and linked, sharing variable slots.  It would be nice to keep everything in one place.  I can see two (not necessarily mutually exclusive) options:
1. Extend DOS-DPs to allow specification of instance level templates.  In this case,

[2016-10-20 14:45] dosumis commented on #3
@thomaspd Is it sufficient to just improve the GO to more closely align to TCDB with mechanism be a major differentium?

[2016-11-08 12:30] dosumis opened #22 "Axiomatise catalytic activities"
Editors recently agreed agreed a strategy for axiomatising catalytic activities in GO by pulling information from Rhea.

Details of discussion can be found here:
http://wiki.geneontology.org/index.php/Ontology_meeting_2016-09-29#RHEA_update_request

Summary of strategy:

1. Record only necessary conditions* and encode directionality reflecting how these reactions are conventionally drawn and their

[2016-11-08 16:49] dosumis opened #23 "Patterns for axiomatisation of transcription factor activities"
_From @dosumis on October 28, 2015 13:46_

_From @dosumis on August 28, 2015 9:56_

We currently have patterns like this:
- molecular_function that ('has part' some 'nucleic acid binding') and ('part of' some 'regulation of transcription, DNA-templated')
- molecular_function and ('part of' some 'regulation of nucleic acid-templated transcription') and ('has part' some 'RNA polymerase core enzyme b

[2016-11-08 16:49] dosumis commented on #23
_From @cmungall on August 28, 2015 16:16_

I think 'directly activates' is correct here, even if we have a more general direct regulation parent that is not restricted to activities

[2016-11-08 16:49] dosumis commented on #23
_From @ukemi on August 28, 2015 17:5_

It fits the definition of directly activates.

[2016-11-08 18:59] dosumis commented on #6
### Aims:

Design pattern must group receptors by effector function and ligand type.

Template must => annotation to binding and effector functions.  It should also include internal regulation links between binding and effector nodes to allow for regulation via regulation of ligand binding.

### DOSDP:

name: receptor_activity

relations:
   has_ligand: RO_
   has_component: RO_
   regulates: RO_

[2016-11-22 10:08] dosumis opened #24 "Proposal for recording MF specificity in GO"
We don't represent MF specificity well at all in GO. In some cases, this is critical to properly capturing function.  An obvious example is ion channel selectivity. Knowing ion specificity critical to understanding the physiological role of a channel.

With OWL-DL expressiveness, this would be reasonably straightforward:

chloride specific ion channel: EquivalentTo ion channel that (transports som

[2016-12-12 17:25] dosumis opened #25 "General pattern needed for compound functions"
We have many compound functions in GO.  Sometimes this is reflected in multiple axes of classification.  For example: 'ATPase activity, coupled to transmembrane movement of substances'  is classified both under transmembrane transporter activity and under 'ATPase activity'.  In other cases one component of the compound function is used for classification while another has a has_part relationship t

[2016-12-13 15:59] dosumis opened #26 "transporters"
_From @dosumis on March 17, 2016 11:20_

I'm sure this issue has been discussed many times before.  Coming up again because it is causing confusion in the synapse project.

In general usage, 'transporter activity' involves active transport:

e.g. see
https://en.wikipedia.org/wiki/Ion_transporter
https://en.wikipedia.org/wiki/Neurotransmitter_transporter
https://en.wikipedia.org/wiki/Dopamine_trans

[2016-12-13 15:59] dosumis commented on #26
Immediate issues fixed manually (see checklists above)
- Worth discussing the terminology issue around transporter?  @ukemi @hdrabkin - any comments?
- Better axiomatisation would help a lot in ensuring more complete classification in this branch.
  - For this to work for antiporters/symporters we may need active and passive transport subproperties of 'transports or maintains localization of'. @cm

[2016-12-13 15:59] dosumis commented on #26
antiporter activity: "Enables the active transport of a solute across a membrane by a mechanism whereby two or more species are transported in opposite directions in a tightly coupled process not directly linked to a form of energy other than chemiosmotic energy. The reaction is: solute A(out) + solute B(in) = solute A(in) + solute B(out)."

But subclasses typically follow a pattern like this:

ca

[2016-12-13 16:29] cmungall commented on #26
This is probably most straightforward.

Implicit in this is that there is a certain subset of MFs that will be defined using a reaction pattern (or at least have subClass of axioms, as previously discussed) and a subset will be defined using similar patterns as for BP (transporters, kinases, symporters).

[2016-12-14 03:27] cmungall commented on #25
I'm not loving it...

I'll look at the proposal for annotation grouping later (offline right now).

[2016-12-14 10:35] dosumis commented on #25
Not too surprised.  One big negative is that it screws with our ability to add disjoints.

[2016-12-19 16:51] dosumis commented on #6
From discussion with Chris:

1. use has_component in ontology.   Infer annotation to component functions at annotation time both for both LEGO and classical GO annotation except where contributes_to is used as qualifier.   Property chain component_of o enable_by -> enabled_by
2. Use positively regulates in place of internally activates.  May revisit this later if causes confusion.

[2017-02-06 18:42] #1 closed, assigned to nobody

[2017-02-06 18:42] #2 closed, assigned to nobody

[2017-02-06 18:42] #3 closed, assigned to nobody

[2017-02-06 18:42] #8 closed, assigned to nobody

[2017-02-06 18:42] #9 closed, assigned to nobody

[2017-02-06 18:42] #10 closed, assigned to thomaspd

[2017-02-06 18:42] #11 closed, assigned to nobody

[2017-02-06 18:42] #12 closed, assigned to dosumis, thomaspd

[2017-02-06 18:42] #13 closed, assigned to thomaspd

[2017-02-06 18:42] #14 closed, assigned to thomaspd

[2017-02-06 18:42] #15 closed, assigned to nobody

[2017-02-06 18:42] #16 closed, assigned to nobody

[2017-02-06 18:42] #17 closed, assigned to thomaspd

[2017-02-06 18:42] #18 closed, assigned to nobody

[2017-02-06 18:42] #19 closed, assigned to thomaspd

[2017-02-06 18:42] #20 closed, assigned to thomaspd

[2017-02-06 18:42] #21 closed, assigned to nobody

[2017-02-07 08:14] dosumis opened #27 "Decide on new upper level classification in MF"
@thomaspd suggestion (from [webProtege model](https://webprotege.stanford.edu/#Edit:projectId=ea132f81-760a-43f2-b5a9-fbe763bb7eed))

molecular_mechanism: "The physico-chemical process by which a molecular component function is carried out.  Note that while all molecular component functions must be carried out by one or more molecular mechanisms, it is possible that a molecular mechanism may not n

[2017-02-07 09:19] dosumis commented on #27
Notes:

'Mechanism' includes only simple molecular functions.  What about the mechanisms of compound functions (e.g. receptors, TFs)?

molecular component function mixes MFs that can be defined by the very narrow context of direct interactions (e.g. receptor activity) and terms which can only be defined in a much wider biological process context (e.g. chemoattractant activity).   The former sound

[2017-02-07 10:45] dosumis commented on #26
MF refactoring discussion:

Treat antiporter as a compound function - this allows us to deal with co-reference issues.

voltage sensing:  has_part some voltage sensor activity (TBA)

[2017-02-07 13:58] dosumis commented on #22
In discussion with Paul T: he was skeptical that stochiometry would matter, but that still leaves closure axioms.

[2017-02-07 14:04] dosumis commented on #6
From discussion with Paul:

We maybe able to generalise this up to signal transducer activity - allow activation by binding - possibly also modification.  Probably better to define the individual patterns first though.

[2017-02-08 00:50] cmungall commented on #22
Did you discuss directionality?

[2017-02-08 02:27] dosumis commented on #22
Paul happy with the strategy described above including adding direction & deriving classification from EC where possible.

[2017-02-08 11:51] dosumis commented on #27
Paul on criteria for defining MF vs BP:

MF is process carried out by a single GP or complex.  BP is a causally-linked network of such processes.

1. General classes of processes carried out by a single GP are MFs not BPs (topiosomerase activity is_a DNA tertiary structure modifying activity).
1. MFs may be simple or compound - made up of simple (indivisible) MFs. These are often
   * causally lin

[2017-02-08 13:50] dosumis opened #28 "cell adhesion mediator"
[For more details see refactoring proposal in WebProtege](https://webprotege.stanford.edu/#Edit:projectId=ea132f81-760a-43f2-b5a9-fbe763bb7eed)

### Proposed class:
cell adhesion mediator

### Proposed text def:

"Interacting selectively and non-covalently with any protein or
protein complex contributing to the adhesion of two different types of
cells."

DOS notes:

1. This is defined for cell-cel

[2017-02-08 13:53] dosumis opened #29 "How to represent binding of a gene product in LEGO:"
When a gene product binds to another gene product, do we need to
choose one side as enabling?

Should we do this:

      GP1 -enables-> binding <-enables- GP2
        ^__has_input___| |___has_input___^

Or this:

     GP1-enables->binding-has_input->GP2

     GP2-enables->binding-has_input->GP1

  The former is potentially useful in some templates - e.g. defining
  cell-adhesion mediator activity

[2017-02-08 14:48] dosumis opened #30 "Intercellular signal"
[For more details see refactoring proposal in WebProtege](https://webprotege.stanford.edu/#Edit:projectId=ea132f81-760a-43f2-b5a9-fbe763bb7eed)

### Proposed class:

intercellular signal (activity)

### Proposed text def:

A molecule produced by one cell, that interacts with a receptor on another cell.  The molecule generally diffuses from one cell to another, though some types of signal molecules

[2017-02-08 14:55] dosumis opened #31 "molecular transducer"
[For more details see refactoring proposal in WebProtege](https://webprotege.stanford.edu/#Edit:projectId=ea132f81-760a-43f2-b5a9-fbe763bb7eed)

### Proposed class:

molecular transducer activity (we already have this)

### Proposed text def:

The molecular function that accepts an input of one form and creates an output of a different form.

DOS comment: This def sucks!  Surely covers all enzymes

[2017-02-08 15:26] dosumis commented on #29
Note - in annotation the binding partner is typically (traditionally) buried in the with statement (yuk).

[2017-02-09 06:47] cmungall commented on #29
Did you mean there to be 3 options here? Or is the second option a single model with distinct direction-specific instances of the binding process?

Can this be simplified with a swrl rule?

e.g.

[code]

[2017-02-09 07:03] dosumis commented on #29
The latter.  without stating both directions one of the partners will not get an annotatino.

[code]

So you'd only have to state the enables link to get the implication of has_input.  I like it.

CC @thomaspd @vanaukenk @ukemi

[2017-02-09 10:34] dosumis commented on #31
New generic pattern for molecular sensor.  This uses specialized subproperties of has_part which, by convention, are intended to record upstream (sensor) regulating downstream (effector).  As with the original proposal for defining receptors using has_ligand, the internal regulation edge is only implicit on the class level, but is made explicit in the corresponding LEGO template.

The following pa

[2017-02-09 12:50] dosumis commented on #31
Signal transducer.

![image](https://cloud.githubusercontent.com/assets/112839/22687243/1d219320-ed1f-11e6-90cb-07fd422df903.png)

signal transducer activity is currently defined as: molecular_function that part_of some 'signal transduction'

This term is entirely redundant with BP and so we should consider obsoleting.  If not, the class is still not a molecular transducer as defined here, because

[2017-02-09 12:56] dosumis commented on #30
Proposed solution:

![image](https://cloud.githubusercontent.com/assets/112839/22784200/114d6728-eec7-11e6-8d56-b50d047a61bc.png)

To be resolved: relationship to "receptor agonist activity" (GO:0048018)- superclass or merge?

[2017-02-09 14:52] dosumis commented on #31
### Relationship to sensor activity

![image](https://cloud.githubusercontent.com/assets/112839/22787824/845d8ac8-eed5-11e6-8d38-c2d0c33ccb86.png)

We get rid of this grouping class.  Nothing is a sensor without an effector.   But we need some detector classes (for pH, redox; membrane potential (AKA voltage)). This allows us to have classes like:

calcium sensing transducer activity
EquivalentTo:

[2017-02-09 15:17] dosumis opened #32 "molecular energy harvesting"
[For more details see refactoring proposal in WebProtege](https://webprotege.stanford.edu/#Edit:projectId=ea132f81-760a-43f2-b5a9-fbe763bb7eed)

### Proposed class:

molecular energy harvesting

### Proposed text def:

"The use of an energy source (\"chemical potential\"), which will be coupled to another molecular function that requires energy."

### Proposed classification(s):

![image](https://

[2017-02-09 15:37] dosumis commented on #32
If we only have ATPase under here, it may not be worth having *BUT* ATPase, coupled is a compound function.  Moreover this a special case of a compound function where one function is to produce energy to drive the other.  Other examples include:
 ATP synthase;
electron transport chains;
antiporters and symporters where movement of one ion down a concentration gradient drives pumping of another up

[2017-02-09 15:48] dosumis opened #33 "DNA structure modifier (activity)"
### Proposed class:

DNA structure modifier

### Proposed text def:

"Through direct physical interaction, modifies the structure of a DNA molecule.  This modification can be to the primary structure (e.g. through nuclease activity or base-modifying enzymes), secondary structure (e.g. strand separation) or tertiary structure (e.g. DNA bending)."

### Proposed classification(s) / example subclasses

[2017-02-09 15:58] dosumis commented on #33
- [ ] TODO work on subclass definitions with @phillord

[2017-02-09 16:05] dosumis opened #34 "move and rename 'binding, bridging'"
This is a compound function - it binds more than one macromolecules (possible edge case - binding to polar head group of a phospholipid).

- [ ] Move under whatever 'molecular component function' ends up being called.
- [ ] Rename -> (macro)molecular adaptor (activity)

(Becomes a structural molecule via part_of some organization)

[2017-02-09 16:12] dosumis opened #35 "small molecule interconversion"
Intention is to distinguish catalytic processes acting on an 'information biomacromolecule' (CHEBI:33695) from those acting on other molecules.  We can't do this logically with the way ChEBI is built (we don't have a class representing the complement of 'information biomacromolecule' (CHEBI:33695).  But we could derive a small molecule list using a closed world intepretation of ChEBI (e.g. via gra

[2017-02-09 16:17] dosumis opened #36 "structural molecule (activity)"
[For more details see refactoring proposal in WebProtege](https://webprotege.stanford.edu/#Edit:projectId=ea132f81-760a-43f2-b5a9-fbe763bb7eed)

### Proposed class:
structural molecule

### Proposed text def:

The action of a molecule that contributes to the structural integrity of a complex or assembly within or outside a cell.

### Proposed classification(s):

### Example subclasses:

### Useful

[2017-02-09 16:21] dosumis commented on #31
Relationship to ligands: see https://github.com/geneontology/molecular_function_refactoring/issues/30

[2017-02-10 10:11] dosumis commented on #27
Paul's suggested names:

 - [x] simple function AKA mechanism -> biochemical activity (ADDED IN BRANCH)
 - [x] molecular component function  -> system component function (ADDED IN BRANCH)

[2017-02-10 10:28] thomaspd commented on #28
could the definition include protein anchor (GO:0043495) that part_of some cell adhesion process

[2017-02-10 10:45] dosumis commented on #28
May be best to admit defeat on the class level and just add necessary conditions.  But it is still worth making a graph-like template for the instance level.  The one remaining issue for that is part_of vs occurs in - the GPs are part of the PM but the process occurs extracellularly.

[2017-02-11 13:32] dosumis commented on #29
~~-  [ ] TODO: add swrl rule as detailed above.~~

Where should these live - RO or GO?  if GO, presumably we need a new file for rules?

[2017-02-13 09:32] dosumis commented on #22
@cmungall  - any idea of a timescale for this?  Did you make a start?

Asking as wondering whether worth adding a few key ones by hand.

[2017-02-13 12:08] dosumis opened #37 "Refactor cell-communication / cell-cell signaling to move start point for signal transduction"
Motivation:  We need a partonomy for cell-communication and cell-cell signaling that is suitable for providing differentia to define MFs for *signaling* receptors and their ligands.  The current partonomy does not work for this.

cell communication (covers signaling between ECM and cell as well as cell-cell signaling)
.    <-po- signal transduction (starts with binding of ligand to receptor)
.

[2017-02-14 11:33] dosumis commented on #37
This issue was moved to geneontology/go-ontology#13020

[2017-02-14 11:33] #37 closed, assigned to nobody

[2017-02-16 16:48] cmungall commented on #22
Partially related: EC xref analysis here: https://github.com/geneontology/go-xref-analysis

[2017-02-16 16:53] ukemi commented on #22
We need to be careful that the EC definitions are bidirectional and in most cases, that is what we have used in GO. In the pathways work, we made has-part relationships between glycolytic enzymes and the pathway for the enzymes that run in both directions. PMID:27589964.

[2017-02-16 17:23] cmungall commented on #22
2667 of the RHEA xrefs are to BI

Here is en exhaustive list of non-BI xrefs. Is there any rationale for this, or is it arbitrary?

[code]

here is a random BI:

[code]

If we do commit to directionality, we will need to map down the BIs to the appropriate direction.

[2017-02-16 17:30] ukemi commented on #22
If I recall correctly the non-bidirectional mappings were done by Jane (?) and they really reflected unidirectionality in biological systems. I think these were done as examples.

[2017-02-16 17:32] ukemi commented on #22
For example, see how some are called 'forward reaction' or 'exporter'.

[2017-02-16 17:36] ukemi commented on #22
Also note the definitions have a => and not a =.

[2017-02-16 20:59] dosumis commented on #29
Hmmm...  Just thought. Given this equivalent class axiom, the rule would end up inferring that all binding is protein binding:

![image](https://cloud.githubusercontent.com/assets/112839/23040707/3137f526-f48a-11e6-9df4-24950025f126.png)

Strictly, this may reflect the limitations of our binding design pattern rather than a mistake in the logic:  an active participant (mediator) of a process (in t

[2017-02-17 11:48] #7 closed, assigned to nobody

[2017-02-17 14:38] thomaspd commented on #7
I thought we agreed to define it more tightly, as a compound molecular function that has at least one sensing activity, and an effector activity. It detects a molecular-level interaction, and transduces that interaction by changing another one of its own activities.

[2017-02-17 14:45] dosumis commented on #7
We did.  I should have added a note when closing to say that this ticket has been superseded by #31

[2017-02-17 15:38] dosumis opened #38 "general classification of receptor activity"
### What we currently have

![image](https://cloud.githubusercontent.com/assets/112839/23067008/34970316-f515-11e6-8291-f0609ac9201c.png)

Question 1:  Should we have a general receptor term that groups cargo receptors and receptors that transduce some signal across the membrane receptors?  This is almost certainly too challenging to define formally.

Question 2: Should we have a class that covers

[2017-02-17 15:45] dosumis commented on #38
Draft classification:

![image](https://cloud.githubusercontent.com/assets/112839/23072016/22e54976-f528-11e6-89b7-629a89843ebc.png)

[2017-02-17 17:21] dosumis opened #39 "Make design pattern and template for receptor tyrosine kinase"

[2017-02-17 17:21] dosumis opened #40 "Make design pattern and template for Ser/Thr Kinase receptor activity"

[2017-02-17 17:22] dosumis opened #41 "Make design pattern and template for GPCR activity"

[2017-02-17 17:23] dosumis opened #42 "Make design pattern and template for nuclear receptor"
General classification for ligand activated transcription factors:
https://en.wikipedia.org/wiki/Nuclear_receptor

Dependency: Needs pattern for (DNA binding) transcription factor activity first

[2017-02-17 17:24] dosumis opened #43 "Make design pattern and template for ionotropic receptor activity"

[2017-02-19 11:25] dosumis commented on #29
The confusion of what is correct here comes from treating MFs as processes but calling them functions.  Each gene product has its own binding function, but those functions are simultaneously realized in a single binding process.  (This is not to say that we should start treating MFs as 'realizables', but this framing makes the problem clearer).

[2017-02-19 13:08] dosumis opened #44 "Formal def for GEF activity"
Define this as a compound function encompassing binding and exchange?

CC @thomaspd - comments please.

[2017-02-19 13:17] dosumis commented on #38
Terminological issues:

Terminology problems & scale.

signal, transducer, transduction - information transfer operating at
various scales; within a protein; along a regulatory chain within a
cell; between cells.  This can start within a cell, within the
extracellular environment or ECM, from another cell, trom the
environment.

When we use these terms in BP, we mean information on a scale larger

[2017-02-19 13:17] dosumis commented on #38
Terminology problems & scale.

signal, transducer, transduction - all these terms are used to refer to information transfer operating at various scales; within a protein; along a regulatory chain within a cell; between cells; between a cell's environment and a cell.

The use of terminology on these various scales poses a challenge for term naming.  Should the term 'signal' be reserved for receptor

[2017-02-19 15:10] thomaspd commented on #44
I'd suggest that it is a protein binding that (directly inhibits (GDP binding enabled by binding-partner) and directly activates (GTP binding enabled by binding-partner)).

This way it should be automatically classified under "molecular function regulator via binding", which should be something like:
is a binding that directly regulates some (molecular function enabled by binding-partner)

[2017-02-19 15:13] thomaspd commented on #42
A start:

has_part ligand binding occurs in cytosol
activates
has_part transcription factor activity occurs in nucleus

[2017-02-19 15:31] thomaspd commented on #41
A start:

has_part sensing activity occurs in extracellular space near plasma membrane
directly (internally) activates
has_part (GEF activity has_input some target-protein) occurs in cytosol near plasma membrane

See LEGO Model: http://noctua.berkeleybop.org/editor/graph/gomodel:580685bd00000200

[2017-02-19 22:02] dosumis opened #45 "Location of receptor != location of its functions?"
![image](https://cloud.githubusercontent.com/assets/112839/23107057/365bfff0-f6ee-11e6-836c-b199d96cac17.png)

See http://noctua.berkeleybop.org/editor/graph/gomodel:586fc17a00001124

Two issues:

1. Asserting the location of the function to be integral component of the membrane feels rather odd
2. The important functions occur on either side of the membrane.

The problem is even more striking for

[2017-02-20 08:24] dosumis opened #46 "Specific molecular function regulator"
[For more details see refactoring proposal in WebProtege](https://webprotege.stanford.edu/#Edit:projectId=ea132f81-760a-43f2-b5a9-fbe763bb7eed)

### Proposed class:

Specific molecular function regulator

### Proposed text def:

A gene product that controls the molecular function of another gene product, by modulating the functional efficiency of each target molecule.

*Notes:

* Does this include

[2017-02-20 08:40] dosumis commented on #44
I think that works.

'protein binding' that directly_negatively_regulates some 'GDP binding'

This may not be necessary and sufficient though.  For a start, the target needs to be a GTPase.

In LEGO:
                                                                     __enables -> GTPase activity
                                                                    |
GEF -enables-> binding -> has_in

[2017-02-20 09:28] dosumis commented on #44
Possible ways to make the definition necessary and sufficient:

* Would it be true to say that by removing the GDP it directly_positively_regulates GTPase activity?
 (even if there is a lag)?
* add BP context: part_of some 'signal transduction' (?)

[2017-02-20 09:35] dosumis commented on #46
pattern for regulation via ... classes:

binding that directly_positively_regulates some fu
catalytic activity that directly_positively_regulates some bar

There should be lots of inference to these classes from LEGO.  Should we also be adding combinatorial subclasses e.g.  kinase activity regulator via binding.  Danger of combinatorial explosion here.

[2017-02-20 13:27] ukemi commented on #45
Are retinioc acid receptors and other nuclear receptors also not being classified as receptors?

[2017-02-20 13:59] dosumis commented on #42
## Some notes on what we have

We have no single term for nuclear receptors. We do have:

"RNA polymerase II transcription factor activity, ligand-activated sequence-specific DNA binding" ;  GO:0004879
'ligand-activated RNA polymerase II transcription factor binding transcription factor activity" ; GO:0038049'

These have related synonym: 'nuclear receptor activity'.  Neither of these terms maps u

[2017-02-20 14:02] dosumis commented on #42
General policy issue:  In defining molecular transducer (#31 ), we suggested a pattern in which the effector function was a biochemical activity.  In this case we have a compound function as an effector.  The molecular transducer pattern should therefore be broadened.  We should also make it an explicit policy that we can nest compound functions.   This needs to be taken into account when designin

[2017-02-20 14:02] dosumis commented on #45
Seems to me this is a separate issue from the one on this ticket.  An interesting point anyway though.  Please see #42 .

[2017-02-20 14:15] dosumis commented on #31
Transcription factor design/template pattern is likely to use a compound function in the effector slot, so the general pattern should be broadened to 'molecular function'.  I'm slightly worried about letting curators loose with such a powerful pattern though.  And we need to think carefully about rules for inference of annotation in GPAD.  Do we need to follow part chains transitively?  If we do s

[2017-02-20 15:32] thomaspd commented on #38
Something like this might work:

Regulated activity (sensing activity internally regulates some molecular function)
	-Transducer activity (sensing activity internally regulates some molecular regulator activity)
		--Receptor activity [(sensing activity occurs in location 1) internally regulates (molecular regulator activity occurs in location 2)]

Location 1 and 2 are disjoint.

This would classif

[2017-02-20 16:32] thomaspd commented on #44
Note in my original definition above that the GEF activity has two effects:
directly inhibits (GDP binding enabled-by G-protein)
directly activates (GTP binding enabled-by G-protein)

The GEF activity does not affect the GTPase activity of the G-protein.  GAP activity activates the GTPase activity of the G-protein.  It's probably helpful to explain the pattern I'm assuming for the overall "G-prote

[2017-02-20 16:52] thomaspd commented on #45
We will make sure nuclear receptors are classified as receptors. See #38

[2017-02-20 18:05] dosumis commented on #29
Possible solution:

Change logical definition of protein binding.
In DL we could say binding that has_input > 1 protein
EL shunt pattern: Add qualifier to indicate this: multiprotein
'protein binding' bearer_of some 'multiprotein'
GCI: bearer_of multiprotein equivalentTO has_input > 1 protein
GCI: bearer_of multiprotein subClassOf has_input some protein

[2017-02-20 18:12] dosumis commented on #29
CC @cmungall - would be good to chat about this.

[2017-02-20 18:36] thomaspd opened #47 "New top level MF class: Protein tagging activity"
Definition: covalent protein modification activity that enables the target protein to be acted upon by another molecular function (e.g. ubiquitin-protein ligase, some kinases)

is a (catalytic activity has input proteinX) that regulates (molecular function enabled by protein Y has input protein X)

Children:
protein degradation tagging activity (protein tagging activity positively regulates some p

[2017-02-20 18:45] thomaspd commented on #31
Regarding sensing classes, here's the latest suggestion:
![screen shot 2017-02-20 at 10 39 25 am](https://cloud.githubusercontent.com/assets/11966328/23137874/6474447c-f759-11e6-8cb4-cbb29facb44e.png)

Importantly it includes terms for sensing a small molecule second messenger (so we can handle indirect regulation via small molecules) and post-translational modification states (so multiple detecti

[2017-02-20 19:22] cmungall commented on #29
Easy part first: I think SWRL rules should live in RO, separate module, but imported by default. That makes them most amenable to global consistency checks with other relations.

Harder part: good catch and I agree with the analysis.

Can we first explore your original option number 2. (I don't know what the cell adhesion mediator story is and how that fits in).

Is it the case that there is alway

[2017-02-20 19:27] thomaspd commented on #23
Main step to take is a top level restructuring.  It removes the top level distinction between protein-binding vs DNA binding, as the current protein binding class includes both DNA binding TFs and nonDNA binding "cofactors".  The main distinction is between DNA binding (TF) and non-DNA binding (T co-F), followed by effect (activators/coactivators vs repressors/corepressors).  I've kept any older c

[2017-02-20 20:12] thomaspd commented on #29
I tend to agree that option 2 is the better choice.  David OS and I discussed this today and he had a good point, namely that anything we can do to reduce the number of nodes in the graph is helpful.  I think this is right, but I note that only one of the two directional nodes will generally be a "function" node in a LEGO graph.  The reverse direction node is usually only a subfunction of the over

[2017-02-20 20:24] ukemi commented on #29
I agree with Paul, and it is consistent with the way I have been modeling. The function of the binding tends to be from a given perspective of an active participant/enabler. I think we have done some of these at the various workshops. In the old annotation paradigm, we always made the reciprocal binding annotation, with the caveat that the actual binding partner went in the 'with' field. If it was

[2017-02-21 11:52] dosumis commented on #29
Having one node makes some important inference easier.

See: https://github.com/geneontology/molecular_function_refactoring/blob/master/direct_reg_inf_notes.md

[2017-02-21 13:03] dosumis commented on #31
[Sensors, transducers, direct regulation and LEGO - discussion doc](https://github.com/geneontology/molecular_function_refactoring/blob/master/direct_reg_inf_notes.md)

[2017-02-21 13:04] dosumis commented on #31
Is it possible for a sensor to exist outside of a transducer?  Isn't this like one hand clapping?

[2017-02-24 03:43] dosumis commented on #44
![image](https://cloud.githubusercontent.com/assets/112839/23289708/8b917240-fa43-11e6-9e7b-384eea4cb99a.png)

![image](https://cloud.githubusercontent.com/assets/112839/23289840/57f0640e-fa44-11e6-8036-00607a986b6c.png)

Re-using 'small GTPase binding' classes defined with ref to PRO:
![image](https://cloud.githubusercontent.com/assets/112839/23289563/7e011744-fa42-11e6-9e8b-16273b917b52.png)

![

[2017-02-24 04:16] dosumis commented on #29
Linking protein binding effector to sensor:

![image](https://cloud.githubusercontent.com/assets/112839/23290290/990c6c46-fa47-11e6-88f5-5e03a7e0f04a.png)

In this case, we need some association between the two protein binding nodes in order to keep a continuous chain of regulates relations (essential for inference).

Perhaps, rather than a new relationship for '?', noctua should have something li

[2017-02-24 10:21] dosumis commented on #31
## A simpler proposal:

Continue to classify transducers by effector function (as most are now).  Record sensor function via directly_regulated_by.

**How this could work:**

![image](https://cloud.githubusercontent.com/assets/112839/23299943/5eb8be8a-fa7b-11e6-8658-992a880121df.png)

LEGO is an instance graph, so all inverses will be inferred:

**directly positively regulated by** *inverseOf* **d

[2017-02-24 10:34] dosumis commented on #31
## simpler proposal example using binding

![image](https://cloud.githubusercontent.com/assets/112839/23300078/e95cf934-fa7b-11e6-867e-f4567c3787a5.png)

LEGO is an instance graph, so all inverses will be inferred:

**directly positively regulated by** *inverseOf* **directly positively regulates**
**enabled by**  *inverseOf* **enables**

Inference of inputs:
**directly positively regulates**  *o*

[2017-02-24 11:12] dosumis commented on #31
Pros:

* Simple for LEGO curators to use.  Less need to templates, and where they are used they can be simpler.
* Simple ontology design patterns
* Little or no churn in the ontology (The alternative - going the full route of splitting out compound functions into their own, disjoint hierarchy is a huge change and requires lots of careful re-engineering of MF.  It also leads us to drop classificati

[2017-02-24 11:16] dosumis commented on #31
**Small molecule regulated example - transducer**

https://www.ncbi.nlm.nih.gov/pubmed/9856955

"a family of cAMP-binding proteins ... that exhibit both cAMP-binding and guanine nucleotide exchange factor (GEF) domains is reported. These cAMP-regulated GEFs (cAMP-GEFs) bind cAMP and selectively activate the Ras superfamily guanine nucleotide binding protein Rap1A in a cAMP-dependent but PKA-indepe

[2017-02-24 11:16] dosumis commented on #31
** Receptor example - GP ligand**

Pattern 1 - ligand perspective (more consistent with patterns above)

![image](https://cloud.githubusercontent.com/assets/112839/23311059/a6e038e2-faac-11e6-8d7b-353c8aa85d9f.png)

GCI has_ligand => has_part some (binding and has input some X)
has_ligand range: (enables some 'receptor agonist activity')

Pattern 2 - receptor perspective

![image](https://cloud.gi

[2017-02-24 16:21] dosumis commented on #31
CC @thomaspd @cmungall @ukemi:  New, simpler proposal for transducers starting from https://github.com/geneontology/molecular_function_refactoring/issues/31#issuecomment-282256732  - Please review and comment.

[2017-02-24 19:20] thomaspd commented on #31
It looks to me like these are ways to avoid the dualistic nature of protein binding-- that a single "event" can be represented as two functions, one for each binding partner.  I agree the dualistic representation is not necessarily intuitive.

1. I do like the "reduced representation" model where a curator can skip the sensor function because it's implied by the binding function of the upstream ge

[2017-02-24 20:51] cmungall commented on #31
Regarding your point 3:

The part about gene products should be uncontroversial. There are a number of clean and straightforward ways to get the inference.

For classification in the ontology: it's less clear this is desirable. In general, overloading of is-a is a bad idea, and can often come back to bite us. Note this means if we wan to implement some kind of model check that involves extracting

[2017-02-24 21:12] thomaspd commented on #31
Yes, the important part is about gene products.  I can see how is-a relations could lead to downstream issues.  But if we don't have them, then most of the external software for inferring annotations to "indirectly" annotated classes won't work, as they rely on tracing relations in the ontology.  This seems like a much bigger issue, and one that is beyond our control.

[2017-02-24 23:08] thomaspd commented on #31
I also think David OS and I are in agreement that we should make annotation as simple as possible for curators.  Along those lines, we should aim when possible to have one "overall" function for each gene product/complex, that can be expanded into a more detailed view showing subfunctions.  For example, here's my latest on the canonical wnt signaling pathway:
![screen shot 2017-02-24 at 2 38 00 pm

[2017-02-27 12:10] ukemi commented on #31
I agree with Paul. Annotators should only see the necessary detail for an annotation and should be given the ability to drill down to more detail as is shown above. In all of David's models, I like the idea of a receptor agonist activity reflecting the binding of the ligand rather than just binding. It seems clearer for an annotator. Binding to receptors can be other than just agonist activity bec

[2017-02-27 12:39] dosumis commented on #31
It is necessary to use different relations for regulation within a molecular function.  If we use directly_positively_regulates to link sub-functions of a compound MF, it is automatically classified as its own activator.  So, RTKs and PKA would both be classified, incorrectly, under 'protein kinase activator activity', when actually we want to reserve that for annotating proteins that activate the

[2017-02-27 12:45] ukemi commented on #31
Yup, you're right. So we either have to go this route or think of another way to represent activators. But now that you point this out, the label makes more sense.

[2017-02-27 16:51] dosumis commented on #31
I agree, but the more I look into compound functions, the more I realize how tricky they are to work with in LEGO.

Focussing on how we expect these things to be used in LEGO.

A major aim of LEGO is to capture chains of MFs where each MF in the chain directly regulates the activity of the next.  An unbroken chain of regulates relations allows for inference of regulation along the chain.  Each lin

[2017-02-28 11:48] ValWood commented on #35
Super!

(The small-molecule  metabolism list is really useful for metabolic modellers etc)

[2017-02-28 16:48] dosumis commented on #23
The ontology currently uses this pattern:

molecular_function that ('has part' some 'nucleic acid binding') and ('part of' some 'regulation of transcription, DNA-templated')

But in Noctua/LEGO curators are using directly_activates rather than part of:

![image](https://cloud.githubusercontent.com/assets/112839/23414804/0dfbcf2a-fdd5-11e6-99fc-31f7e33f1360.png)

http://noctua.berkeleybop.org/edito

[2017-02-28 17:07] mah11 commented on #25
Example from 2017-02-28 annotation call LEGO model: classification of motor activity terms as subtypesof NTPase activity can lead to incorrect inferences around regulation.

present structure:

     GO:0017111 ! nucleoside-triphosphatase activity
     -- is_a GO:0003774 ! motor activity
     ---- is_a GO:0000146 ! microfilament motor activity

leads to inference

     regulation of nucleoside-trip

[2017-02-28 17:11] dosumis opened #48 "Design pattern for compound MFs using NTPase as an energy source"
e.g motor proteins; ABC transporters.

It is important that the NTPase activity not be the genus.  Regulation of motor activity does not necessarily happen by regulating the NTPase activity driving it.

Example from 2017-02-28 annotation call LEGO model: classification of motor activity terms as subtypesof NTPase activity can lead to incorrect inferences around regulation.

present structure:

 GO

[2017-02-28 17:13] dosumis commented on #48
CC @mah11

[2017-05-11 13:06] dosumis commented on #48
Potential pattern:

Simple version:

ATPase driven motor activity: EquivalentTo motor activity that has_part some 'ATPase activity'

But it would be better if we could indicate directly that the ATPase provides the power for the motor.  The only way to do this in the ontology is, as far as I can see, to invent a new subproperty of has_part (or perhaps of has_component).  has_energy_source?

[2017-05-11 17:09] dosumis commented on #23
How to formalise this:

![image](https://cloud.githubusercontent.com/assets/112839/25950533/2d0b3c46-3653-11e7-9685-4b82df745a88.png)

?

## Differentia:

### 1. Regulatory effect on transcription - record via link to BP.  Two possible patterns:

(a) **part_of** *some* 'regulation of transcription, DNA templated'  # (use +ve/-ve R terms for transcriptional activator/repressor terms)

OR

(b) **dir

[2017-05-11 18:03] dosumis commented on #25
# A new general pattern suggestion

(The proposal at the top of this ticket should be ignored.  It's dumb.)

## Background:

MF design patterns need to cope with the compound nature of many molecular functions while
(a) keeping classification that is intuitive to biologists;
(b) supporting the curation of LEGO (GO-CAM) models with ***unbroken** chains of causal relations*;
(c) being easy for LEGO

[2017-05-12 02:59] cmungall commented on #25
Add to agenda for tomorrow?

[2017-05-12 14:19] ukemi commented on #25
@vanaukenk

[2017-05-18 13:24] dosumis opened #49 "Infer involved_in Reg of BP_X from MF -R-> BP_X"
In GO-CAM, we commonly have :

* GP enables MF1 -directly_regulates -> BP1
* e.g.  FOXO3 enables TF activity, sequence specific DNA binding  directly_activates transcription

Based on these, ideally we would infer:
* GP involved_in Reg of BP1
* FOXO3 involved_in regulation of transcription...

OR we would have equivalent MF-BP part_of links in the ontology (involved_in decomposes to enables o part

[2017-05-18 17:56] balhoff commented on #49
It would help to see this more concretely in an OWL file. But offhand, the right-hand side of the GCI falls outside of OWL RL I think. But if it influences the class hierarchy pre-inferred by ELK, it may still usefully feed into Arachne reasoning. But can you create example files for these?

[2017-05-24 14:06] dosumis commented on #25
In absence of objections, I'm starting implementation.

 - [ ] add new relations to RO : https://github.com/oborel/obo-relations/pull/162
 - [ ] Add property chain: 'has component' o enables -> enables : https://github.com/oborel/obo-relations/pull/162
 - [x] Add compound function to MF RF branch
![image](https://cloud.githubusercontent.com/assets/112839/26411827/cc7226b4-409e-11e7-9e00-d5e933694e

[2017-05-24 14:10] dosumis commented on #31
New pattern - now in MF refactoring branch:

![image](https://cloud.githubusercontent.com/assets/112839/26407318/ac66104e-4092-11e7-971b-6bbc82955ec9.png)

[2017-05-24 14:11] dosumis commented on #31
CC @thomaspd

[2017-05-24 14:50] dosumis commented on #23
Draft pattern here:

https://github.com/geneontology/molecular_function_refactoring/blob/master/patterns/transcription_factor_DNA_binding.yaml

Still need to sort out naming.

### Some notes:

- High level genus possibly a little confusing to editors/curators.  Consider something more specific?
- Would be good to be able to specify relation as var, but this is currently missing from DOSDP spec (a

[2017-05-24 14:51] dosumis commented on #23
CC @thomaspd

[2017-05-26 16:57] dosumis commented on #23
Paul:

If we have a general 'necessary part of':

If transcription of gene X requires the activity of TFs A, B and C, we could say each activity is a 'necessary part of' transcription of gene X.

By analogy to necessary_component_of this would be a subproperty of a causal relation - so not => loss of causal chain.

[2017-07-04 10:45] dosumis commented on #5
- [ ] @rlovering to review

[2017-07-14 11:20] dosumis commented on #23
## Notes on name and definition changes.

The original refactoring/implementation of detail TF terms in the GO relied assumptions about curation that may not longer apply in the new era of GO-cam curation.  Classic GO curation is very granular, with small amounts of evidence - often single experiments (?) - being used for annotation.  It is rare for a single experiment to show that a transcription

[2017-07-14 14:54] dosumis commented on #23
Notes on problematic terms

**RNA polymerase II transcription factor activity, sequence-specific transcription regulatory
 region DNA binding**: "Interacting selectively and non-covalently with a specific sequence of DNA that is part of a regulatory region that controls transcription of that section of the DNA by RNA polymerase II and recruiting another transcription factor to the DNA in order to

[2017-07-14 16:02] astridla commented on #23
[Quoted text edited down by DOS]

[Astrid Lægreid] : I don’t know of any exception to this

...

[Astrid Lægreid]: If we want to allow any signalling molecule upstream of transcription to be annotated with “transcription regulator activity”, then, yes, “direct” would be helpful
It may however not be easy to define what is “direct”, because we, in most cases, do not know whether the transcription r

[2017-07-14 16:23] astridla commented on #23
![image](https://user-images.githubusercontent.com/112839/28217200-3b8f7d00-68ac-11e7-86b2-488de06ebcf2.png)

In my understanding, these two terms pertain to the same functionality

Since I cannot think of any transcription factor that does not enable its function via interacting with other proteins/complexes, I think that there should be no “may or may not” in the descriptive part “The transcript

[2017-07-17 15:15] dosumis commented on #23
Notes on discussion with Astrid:

Tie this branch down to: "direct regulation of transcription initiation"

1. This = regulation of 'transcription because regulation of transcription initiation' is_a regulation of transcription (or should be).   It would also be better to rename the general classes to '(direct) transcription initiation regulator activity' - if this is not too wordy.

2. Directness

[2017-09-08 09:22] dosumis opened #50 "TF refactoring umbrella ticket"
An umbrella ticket (epic) for finishing TF refactoring.

Overview:

   This will be considered completed when:
      - Pattern finally agreed  - I currently have one that works, but some dispute over how this fits with desired patterns for combinatorial action (e.g. recording boolean logic of promoters.
      - A branch with edits is in place and ready to merge
         - textual component edit is

[2017-10-10 04:24] krchristie commented on #5
I think it would be really unfortunate to reinstate a problem we already fixed where people see "transcription factor activity" and use it for any kind of transcription factor, even ones that don't bind DNA. No matter how much you say that people are supposed to annotate to the definition, you know that they often do not bother to read it; they just the name.

transcription factor activity, sequen

[2019-02-21 15:08] pgaudet commented on #5
These terms were updated in the Transcription factor overhaul 2018 project - https://github.com/geneontology/go-ontology/projects/7

[2019-02-21 15:08] #5 closed, assigned to dosumis, pgaudet, thomaspd

[2019-02-21 15:15] pgaudet commented on #27
This proposal was not implemented. See how top level classes were fixed here:
https://github.com/geneontology/go-ontology/issues/14266

[2019-02-21 15:15] #27 closed, assigned to nobody

[2019-02-21 15:17] pgaudet commented on #29
@ukemi @vanaukenk
Is there anything left to do here ? Seems like there is some agreement. (Do we need to document?)
If not, can you please close ?

[2019-02-21 15:19] pgaudet commented on #24
This seems an annotation issue rather than ontology.

[2019-02-21 15:19] #24 closed, assigned to nobody

[2019-02-21 15:21] pgaudet commented on #22
This can be closed as we are creating definitions and xrefs to Rhea in this project:
https://github.com/geneontology/go-ontology/projects/10

[2019-02-21 15:21] #22 closed, assigned to cmungall

[2019-02-25 09:17] pgaudet commented on #31
This is implemented.

[2019-02-25 09:17] #31 closed, assigned to nobody

[2019-02-25 09:18] pgaudet commented on #32
Right now this is the structure:

- 'molecular transducer activity'
-- 'energy transducer activity'
--- 'light transducer activity'

@thomaspd is this what you wanted ?

[2019-02-25 09:34] pgaudet commented on #32
@thomaspd I think we decided NOT to create the branch 'molecular mechanism' - since in the end the mechanisms were binding and catalysis.

I am closing; @thomaspd please reopen if needed.

Pascale

[2019-02-25 09:34] #32 closed, assigned to nobody

[2019-02-25 09:50] pgaudet commented on #28
Logical definition is now

binding and ('part of' some 'cell adhesion')

[2019-02-25 09:50] #28 closed, assigned to nobody

[2019-02-25 11:07] pgaudet commented on #36
Term unchanged in the 2018 MF refactoring.

[2019-02-25 11:07] #36 closed, assigned to nobody

[2019-02-25 11:10] pgaudet commented on #46
These terms have design pattern 'molecular_function and ('directly regulates' some molecular_function)' see
https://github.com/geneontology/go-ontology/blob/master/src/design_patterns/regulator_activity.yaml

[2019-02-25 11:10] #46 closed, assigned to nobody

[2019-02-25 11:14] pgaudet commented on #44
Implemented as described above.

[2019-02-25 11:14] #44 closed, assigned to nobody

[2019-02-25 11:16] pgaudet commented on #41
GPCRs can be elsewhere than PM (for eg in ER), so this proposal cannot be implemented.

[2019-02-25 11:16] #41 closed, assigned to nobody

[2019-03-01 17:27] pgaudet commented on #29
**For GO:0005515 protein binding:** @thomaspd proposes that we use 'has input' for both proteins (no 'enables')
Otherwise this 'overloads' the 'enables' relation, since both proteins participate sort of equally.

[2019-03-01 17:29] pgaudet commented on #29
This issue was moved to geneontology/go-annotation#2280

[2019-03-01 17:29] #29 closed, assigned to nobody

[2019-03-01 17:31] pgaudet commented on #50
Done here:
https://github.com/geneontology/go-ontology/projects/7

[2019-03-01 17:31] #50 closed, assigned to dosumis

[2019-03-01 17:38] pgaudet commented on #23
This issue was moved to geneontology/go-ontology#16970

[2019-03-01 17:38] #23 closed, assigned to dosumis

[2019-03-01 18:31] pgaudet commented on #48
This is covered by https://github.com/geneontology/go-ontology/issues/14012

[2019-03-01 18:31] #48 closed, assigned to pgaudet

[2019-03-01 18:37] pgaudet commented on #25
This issue was moved to geneontology/go-ontology#16972

[2019-03-01 18:37] #25 closed, assigned to nobody

[2019-03-01 18:42] pgaudet commented on #30
Was dealt with by renaming 'receptor agnonist activity' -> 'receptor ligand activity' and fixing children.

[2019-03-01 18:42] #30 closed, assigned to nobody

[2019-03-01 18:52] pgaudet commented on #33
redundant with https://github.com/geneontology/go-ontology/issues/16804

[2019-03-01 18:52] #33 closed, assigned to nobody

[2019-03-01 19:24] pgaudet commented on #35
This issue was moved to geneontology/go-ontology#16974

[2019-03-01 19:24] #35 closed, assigned to cmungall

[2019-03-01 19:28] pgaudet commented on #47
We can now do this better with GO-CAM.

[2019-03-01 19:28] #47 closed, assigned to nobody

[2019-03-01 19:32] pgaudet commented on #45
@ukemi @vanaukenk
Did we agree that we will NOT be representing receptors like this ? ie - they are active at the plasma membrane (and **not** the extracellular part is active extracellularly, intracellular part is acting in the cyosol).

[2019-03-01 19:34] pgaudet commented on #38
Signaling receptor and cargo receptor we split in the new MF.

See - among other tickets: https://github.com/geneontology/go-ontology/issues/15234

[2019-03-01 19:34] #38 closed, assigned to nobody

[2019-03-01 19:36] pgaudet commented on #49
@ukemi @balhoff
This deals with reasoning rather than MF refactoring. Is this being dealt with elsewhere ?

Thanks, Pascale

[2019-03-01 19:37] #40 closed, assigned to nobody

[2019-03-01 19:37] pgaudet commented on #40
This is a compound function

[2019-03-01 20:26] pgaudet commented on #26
This issue was moved to geneontology/go-ontology#16978

[2019-03-01 20:26] #26 closed, assigned to pgaudet

[2019-03-03 10:15] ukemi commented on #45
This also came up in the Reactome work where we needed to make in inference about cases where a protein complex was located in a membrane and the reactants were, for example, located in the cytosol. We have terms like 'matrix side of inner mitochondrial membrane' that are part of the respective membranes. Using these terms allows us to specify the side of the membrane where the reaction occurs and

[2019-03-04 19:51] balhoff commented on #49
@pgaudet over the past several months I've implemented a whole new reasoner to help handle this. 😄 In the future it may be integrated into Noctua. But I don't think we're using 'involved in regulation of' as a GPAD relation anymore, right? If @ukemi thinks there is an issue here for GPAD export, we should move to the Minerva tracker, otherwise I think we can close it.

[2019-03-04 20:45] ukemi commented on #49
I have been using the explicit descriptions of regulation by creating the models where a function is part of a process that regulates another process/function. By using this method, if we know the mechanism of the regulation, we can assert it and the reasoner will still conclude it is a regulatory process. We also get the correct annotation to a regulatory process back. @vanaukenk I think that's w

[2019-03-25 13:08] pgaudet commented on #42
See http://noctua.geneontology.org/editor/graph/gomodel:5c4605cc00002111?barista_token=lx3p3kiu02bzr5fj94xb#

[2019-03-25 13:30] pgaudet commented on #34
Fixed in the MF factor work with @thomaspd

[2019-03-25 13:30] #34 closed, assigned to nobody